# Importing Data Using Pandas - Lab

## Introduction

In this lab, you'll get some practice with loading files with summary or metadata, and if you find that easy, the optional "level up" content covers loading data from a corrupted csv file!

## Objectives
You will be able to:
* Import data from csv files and Excel files
* Understand and explain key arguments for imports
* Save information to csv and Excel files
* Access data within a Pandas DataFrame (print() and .head())

##  Loading Files with Summary or Meta Data

Load either of the files Zipcode_Demos.csv or Zipcode_Demos.xlsx. What's going on with this dataset? Clean it up into a useable format and describe the nuances of how the data is currently formatted.

All data files are stored in a folder titled 'Data'.

In [5]:
#Your code here
!cd Data
!ls

CONTRIBUTING.md  Data  index.ipynb  LICENSE.md	README.md

In [9]:
by_j.keys()

Index(['0', 'Average Statistics', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9',
       'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13',
       'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
       'Unnamed: 18', 'Unnamed: 19', 'Unnamed: 20', 'Unnamed: 21',
       'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
       'Unnamed: 26', 'Unnamed: 27', 'Unnamed: 28', 'Unnamed: 29',
       'Unnamed: 30', 'Unnamed: 31', 'Unnamed: 32', 'Unnamed: 33',
       'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
       'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40', 'Unnamed: 41',
       'Unnamed: 42', 'Unnamed: 43', 'Unnamed: 44', 'Unnamed: 45',
       'Unnamed: 46'],
      dtype='object')

In [17]:
import pandas as pd
df = pd.read_csv("Data/Zipcode_Demos.csv")
df.head()
df.head(75)
by_j = df.iloc[46:]

by_j.head(20)
by_j2 = by_j[['Average Statistics','Unnamed: 37', 'Unnamed: 38','Unnamed: 39','Unnamed: 40']]
by_j2[columns=['Juri']]
by_j2


#by_j(columns = 'ID', 'Jurisdiction','Number of Participants', 'Number Female', 'Percent Female',	'Number Male',	'Percent Male',	'Number Gender Unkown',	'Percent Gender Unknown', 'Number Gender Total'	...	COUNT CITIZEN STATUS TOTAL	PERCENT CITIZEN STATUS TOTAL	COUNT RECEIVES PUBLIC ASSISTANCE	PERCENT RECEIVES PUBLIC ASSISTANCE	COUNT NRECEIVES PUBLIC ASSISTANCE	PERCENT NRECEIVES PUBLIC ASSISTANCE	COUNT PUBLIC ASSISTANCE UNKNOWN	PERCENT PUBLIC ASSISTANCE UNKNOWN	COUNT PUBLIC ASSISTANCE TOTAL	PERCENT PUBLIC ASSISTANCE TOTAL )
#df_rotated = df.pivot_table(columns = 'Average Statistics')
#df_rotated.head()

,Average Statistics,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40
46,JURISDICTION NAME,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE
47,10001,44,100,20,0.45
48,10002,35,100,2,0.06
49,10003,1,100,0,0
50,10004,0,0,0,0
51,10005,2,100,0,0
52,10006,6,100,0,0
53,10007,1,100,1,1
54,10009,2,100,0,0
55,10010,0,0,0,0
56,10011,3,100,0,0

## Level Up (Optional) - Loading Corrupt CSV files

Occasionally, you encountered some really ill formatted data. One example of this can be data that has strings containing commas in a csv file. Under the standard protocol, when this occurs, one is supposed to use quotes to differentiate between the commas denoting fields and commas within those fields themselves. For example, we could have a table like this:  

ReviewerID,Rating,N_reviews,Review,VenueID
123456,4,137,This restaurant was pretty good, we had a great time.,98765

Which should be saved like this if it were a csv (to avoid confusion with the commas in the Review text):
"ReviewerID","Rating","N_reviews","Review","VenueID"
"123456","4","137","This restaurant was pretty good, we had a great time.","98765"

Attempt to import the corrupt file, or at least a small preview of it. It is appropriately titled Yelp_Reviews_corrupt.csv. Investigate some of the intricacies of skipping rows to then pass over this error and comment on what you think is going on.

In [ ]:
#Hint: here's a useful programming pattern to use.
try:
    #do something
except Exception as e:
    #handle your exception e

In [ ]:
#Your code here

## Summary

Congratulations, you now practiced your pandas-importing skills!